numpy~=1.26.2
pandas
matplotlib
scikit-learn
streamlit
google
pydub
llama_index
openai
SpeechRecognition
googletrans~=4.0.0-rc1
gtts
playsound
pyaudio
sounddevice~=0.4.6
noisereduce~=3.0.0
pyshine~=0.0.6
vidstream
pyttsx3
translate
better_profanity
azure.cognitiveservices.speech
ttkbootstrap